@using CL.Transverse.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | VỆ SINH CỬU LONG</title>

    <link href="/Content/Administrator/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Administrator/font-awesome/css/font-awesome.css" rel="stylesheet">
    
    <!-- Morris -->
    <link href="/Content/Administrator/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="/Content/Administrator/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/Content/Administrator/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    
    <!-- Switchery style -->
    <link href="/Content/Administrator/css/plugins/switchery/switchery.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="/Content/Administrator/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/Content/Administrator/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/Content/Administrator/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    
    <link href="/Content/Administrator/css/animate.css" rel="stylesheet">
    <link href="/Content/Administrator/css/style.css" rel="stylesheet">

    <link href="~/Content/Administrator/admin.css" rel="stylesheet" />
    
    @RenderSection("styles", required: false)
</head>

<body class="">
    <div id="wrapper">
        @{
            Html.RenderPartial("_Partial/_Navigation");
        }

        <div id="page-wrapper" class="gray-bg">
            @{
                Html.RenderPartial("_Partial/_Header");
                Html.RenderPartial("_Partial/_Breadcrum");
            }
            <div class="wrapper wrapper-content">
                @Html.ShowStatusMessage()
                @RenderBody()
            </div>
            @{
                Html.RenderPartial("_Partial/_Footer");
            }
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/Content/Administrator/js/jquery-2.1.1.js"></script>
    <script src="/Content/Administrator/js/bootstrap.min.js"></script>
    <script src="/Content/Administrator/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Content/Administrator/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
    <!-- Custom and plugin javascript -->
    <script src="/Content/Administrator/template.js"></script>

    <!-- Sweet alert -->
    <script src="/Content/Administrator/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Toastr script -->
    <script src="/Content/Administrator/js/plugins/toastr/toastr.min.js"></script>
    
    <!-- Switchery -->
    <script src="/Content/Administrator/js/plugins/switchery/switchery.js"></script>

    <!-- Data Tables -->
    <script src="/Content/Administrator/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/Administrator/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/Content/Administrator/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/Content/Administrator/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    
    <!-- Jquery UI -->
    <script src="/Content/Administrator/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Jquery Validate -->
    <script src="/Content/Administrator/js/plugins/validate/jquery.validate.min.js"></script>

    <!-- Context Menu -->
    <script src="/Content/Administrator/bootstrap-contextmenu.js"></script>

    <script src="/Content/Administrator/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/Content/Administrator/js/inspinia.js"></script>
    <script src="/Content/Administrator/js/plugins/pace/pace.min.js"></script>
    
    <script src="~/Scripts/Administrator/Common/common.js"></script>
    @RenderSection("scripts", required: false)
</body>                               
</html>
